/* body{
    display: flex;
} */
.header{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

ul{
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 10px;
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
}
